.Timecode {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: s(3) s(4);

  time {
    font-family: $font-family-vcr;
    font-size: 5vh;
    background: #000;
    color: #76FF03;
    padding: s(2) s(3);
    margin: s(2) s(3);
    border-radius: 0.5rem;
  }

  header {
    // text-transform: uppercase;
    font-weight: bold;
  }

  &__status {
    margin: 0;

    em {
      font-style: normal;
      font-weight: bold;
    }
  }
}
