@import 'base/variables';
@import 'base/buttons';
@import 'base/color';
@import 'base/spacing';
@import 'base/typography';
@import 'base/lists';

@import 'components/buttons';
@import 'components/timecode';

* {
  box-sizing: border-box;
}

body,
html {
  font-family: $font-family-default;
}

pre,
code {
  font-family: $font-family-monospace;
}

dl pre {
  max-height: 10rem;
  overflow-y: scroll;
}

//

.App {
  padding: s(2);
}

.AppMain {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-gap: 0.5rem;
  grid-auto-rows: auto;

  > section {
    grid-column: 1 / span $cols;
  }
}

section.Group {
  margin: s(3) 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: s(3);
}

section.Section {
  h3 {
    margin-top: 0;
    padding-bottom: s(2);
    margin-bottom: s(2);
    border-bottom: solid 1px $color-primary;
  }

  &__Timecode {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: s(2);
  }

  &.SceneControls {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  &__Markers {
    $marker-width: 6rem;
    $marker-height: 5rem;

    > div {
      display: grid;
      grid-template-columns: repeat(5, $marker-width);
      grid-template-rows: repeat(2, $marker-height);
    }

    button {
      font-size: 3rem;
      font-weight: bold;
    }
  }
}

