@import 'variables';
@import 'color';

@mixin button-base() {
  background-color: $color-primary;
  padding: $button-padding;
  color: $color-text-inverse;
  border: solid 1px darken($color-primary, 10%);
  cursor: pointer;

  &:hover,
  &.active {
    background-color: lighten($color-primary, 10%);
  }

  & + & {
    border-left: 0;
  }
}
