$headings: (
  1: font-scale(0),
  2: font-scale(1),
  3: font-scale(2)
);

@function font-size($size) {
  @return map-get($headings, $size);
}

@each $el, $size in $headings {
  h#{el} {
    font-size: font-size($el);
  }
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: font-size(1);
}

h2 {
  font-size: font-size(2);
}

h3 {
  font-size: font-size(4);
}

details {
  > summary {
    font-size: font-size(4);
    font-weight: bold;
    padding: s(2);
  }
}
