dl {
  border: solid 1px #f00;
  display: grid;
  grid-template-columns: auto 3fr;

  dt, dd {
    margin-top: 0.5rem;
  }

  dt {
    font-weight: bold;
  }
}

ul {
  &.Menu {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;

    button {
      width: 100%;
    }

    li {
      &:not(:first-child) {
        button {
          border-top: 0;
        }
      }
    }
  }
}
